{% extends "base.html" %}
{% block title %} About Us  {% endblock %}

{% block content %}
<p class="h1 text-center">About Us</p>
 <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Welcome to TrendSight</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead">Your Comprehensive EMA-Based Stock Tracking Tool.</p>
                        <p>StockTrack is designed for investors and traders seeking deep insights into market trends. Focusing on the Exponential Moving Average (EMA), our tool offers unparalleled tracking and analysis of stock and sector trends.</p>

                        <h4>Key Features:</h4>
                        <ul>
                            <li><strong>Expansive Stocks Universe:</strong> Access a broad range of stocks across various sectors.</li>
                            <li><strong>EMA Trend Analysis:</strong> Track bullish and bearish trends with customizable EMAs.</li>
                            <li><strong>EOD Data and Insights:</strong> Make informed decisions with up-to-date EOD market data.</li>
                            <li><strong>Customizable Alerts:</strong> Receive alerts on EMA breakouts and sector movements.</li>
                            <li><strong>User-Friendly Interface:</strong> Easy to navigate for both new and seasoned traders.</li>
                            <li><strong>Educational Resources:</strong> Enhance your trading knowledge with our materials.</li>
                            <li><strong>Dedicated Support:</strong> Expert assistance always available for your queries.</li>
                        </ul>

                        <p><strong>Join MarketPulse Today:</strong> Embrace the power of EMA analysis and elevate your trading strategy. Be part of a community that stays a step ahead in the stock market.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
