<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Analyze Closing vs EMA Output</title>
    <style>
        /* Define CSS styles for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>{{ name }} Analyze Closing vs EMA Output</h1>

    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Newest Date</th>
                <th>EMA 20 Output</th>
                <th>EMA 50 Output</th>
                <th>EMA 100 Output</th>
                <th>EMA 200 Output</th>
                <th>RSI Output</th>
                <th>RS Output</th>
            </tr>
        </thead>
        <tbody>
            {% for result in result_list %}
                <tr>
                    <td>{{ result.stock_data.symbol }}</td>
                    <td>{{ result.stock_data.date }}</td>
                    <td>{{ result.ema20_output }}</td>
                    <td>{{ result.ema50_output }}</td>
                    <td>{{ result.ema100_output }}</td>
                    <td>{{ result.ema200_output }}</td>
                    <td>{{ result.rsi_output }}</td>
                    <td>{{ result.rs_output }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
