{% extends "base.html" %}
    {% block title %} Sectors {% endblock %}

    {% block content %}

 <style>
    .accordion-item {
        border: 1px solid lightskyblue;
        border-radius: 0.25rem;
    }

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 60px);
        margin-top: 30px;
        width: 500px;
    }

    .modal-content {
        overflow-y: auto;
        height: 650px;
        width: 100%;
    }



    .btn-group.d-flex .btn {
        margin: 0 5px;
        background-color: aliceblue;
        color: black;
    }

    .btn-group {
        width: 100%;
    }

    .btn {
        flex-grow: 1;
        margin: 0;
    }

    #displayText {
        font-size: 14px;
    }

    .input-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    #expirationDate {
        margin-left: 40px;
    }

    .name-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    #name {
        margin-right: 20px;
    }

    .form-control {
        flex: 1;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .Modal-button {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0;
        border: 0 solid blue;
        border-radius: 0.25rem;
        background-color: transparent;
    }

    .btn-group .btn.active {
        background-color: blue;
        color: white;
    }
    .form-select{
    font-size: 20px; /* Adjust the font size as needed */
      padding: 13px 156px; /* Adjust the padding as needed */
    }

    .form-select1{
      font-size: 20px; /* Adjust the font size as needed */
        padding: 13px 189px; /* Adjust the padding as needed */
      }





  </style>

 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Alerts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary active" id="first">Settings</button>
                    <button type="button" class="btn btn-outline-primary" id="sec">Notification</button>
                </div>

                <div class="content-container">
                    <div id="settingsContent">
                        <!-- Content for Settings -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne">
                                    <button class="Modal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Create Alert On
                                    </button>
                                </h3>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                      <!-- Wrap the select inside a div with Bootstrap grid classes -->
                                      <div class="row">
                                          <div class="col">
                                            <label for="symbolDropdown"></label>
                                              <select class="form-select" id="symbolDropdown" name="create_alert">
                                                  <!-- Loop through symbols and populate dropdown options -->
                                                  {% for symbol in symbols %}
                                                      <option class="dropdown-option">{{ symbol }}</option>
                                                  {% endfor %}
                                                  {% for symbol in unique_symbols %}
                                                      <option class="dropdown-option">{{ symbol }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo">
                                    <button class="Modal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Select Trend
                                    </button>
                                </h3>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <label for="trendDropdown"></label>
                                    <select class="form-select1" name="trend" id="trendDropdown">
                                        <option value="UP">UP</option>
                                        <option value="Down">Down</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <label for="integerInput"><h6>Price :</h6></label>
                        <input type="number" id="integerInput" name="price" min="0" step="1" placeholder="21782.50">
                        <br>
                        <hr>
                        {% comment %} <h6>Trigger</h6> {% endcomment %}
                        <br>
                        <br>
                        <div id="displayText"></div>
                        <br>
                        <div class="input-container">
                            <h6>Expiration :</h6>
                            <label for="expirationDate"></label><input type="date" id="expirationDate" name="expirationDate">
                        </div>
                        <br>
                        <hr>
                        <div class="name-container">
                            <label for="exampleFormControlInput1" class="form-label" id="name"><br><h6>Alert Name :</h6></label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="eg: Nifty Alert">
                        </div>
                        <div class="message-container">
                            {% comment %} <label for="exampleFormControlTextarea1" class="form-label"><h6>Message</h6></label> {% endcomment %}
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="message" name="message"></textarea>
                        </div>
                    </div>

                    <div id="notificationContent" style="display: none;">
                        <!-- Content for Notification -->
                        <h4>Notification Content</h4>
                        <p>This is the content for Notification.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="save">Save changes</button>
            </div>
        </div>
    </div>
  </div>



  <!-- Bootstrap Bundle with Popper.js and Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

  <script>

    // Function to redirect to log.html after form submission




    // Function to get the expiration date as the same day of the next month
    function getNextMonthDate() {
      var currentDate = new Date();
        return new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, currentDate.getDate() + 1);
    }

    // Set the value of the input field to the expiration date
    document.getElementById("expirationDate").valueAsDate = getNextMonthDate();

    // Get references to the buttons and content divs
    var firstButton = document.getElementById("first");
    var secButton = document.getElementById("sec");
    var settingsContent = document.getElementById("settingsContent");
    var notificationContent = document.getElementById("notificationContent");

    // Add event listeners to the buttons
    firstButton.addEventListener("click", function() {
      // Show settings content and hide notification content
      settingsContent.style.display = "block";
      notificationContent.style.display = "none";
    });

    secButton.addEventListener("click", function() {
      // Show notification content and hide settings content
      settingsContent.style.display = "none";
      notificationContent.style.display = "block";
    });

    document.getElementById("save").addEventListener("click", function() {
      // Call the email_alert function with the desired parameters
      // email_alert("Alert Subject", "Alert Body", "recipient@example.com", "YOUR_API_KEY", ["image_path1.jpg", "image_path2.jpg"]);
      // Uncomment and replace with your desired functionality
    });

    firstButton.addEventListener("click", function() {
      // Show settings content and hide notification content
      settingsContent.style.display = "block";
      notificationContent.style.display = "none";
      // Toggle active class on buttons
      firstButton.classList.add("active");
      secButton.classList.remove("active");
    });

    secButton.addEventListener("click", function() {
      // Show notification content and hide settings content
      settingsContent.style.display = "none";
      notificationContent.style.display = "block";
      // Toggle active class on buttons
      secButton.classList.add("active");
      firstButton.classList.remove("active");
    });
  </script>




        <h1 class="text-center" style="padding:8px">Sectors Analysis (EMA20)</h1>
        <div class="container" style="margin-left: 50px;
        padding: 0px;margin-right:0px">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Alert</th>
                            <th>Add</th>
                            <th style="text-align:center">Symbol</th>
                            {% for date in date_list %}
                                <th>{{ date }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for symbol in unique_symbols %}
                            <tr>
                                <td><button type="button" class="btn btn-primary-right" data-toggle="modal" data-target="#exampleModal" style="border:2px solid red; ">+</button></td>
                                <td><button type="button" class="btn btn-outline-secondary add-to-watchlist" data-symbol="{{ symbol }}">+</button></td>
                                {% comment %} <td class="sector">{{ symbol }}</td> {% endcomment %}
                                <td class="sector"><a href="#" onclick="showGraph('{{ symbol }}');">
                                    {% if symbol == '^NSEI' %}NIFTY50{% else %}{{ symbol|slice:"4:"}}
                                    {% endif %}</a></td>

                                {% for item in result %}
                                    {% if item.0 == symbol %}
                                        <td style="background-color: {% if item.2 > 0%}#81e777 {% else %}#fd1c00{% endif %};">
                                            {{ item.2 }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function showGraph(symbol) {
                var type = 'stock';
                if (symbol.startsWith('^')) {
                    type = 'sector';
                }
                localStorage.setItem("selectedDropdownValue1", type);
                localStorage.setItem("selectedDropdownValue2", symbol);
                localStorage.setItem("selectedDropdownValue3", '20');
      
                var url = '/graph/' + type + '/' + encodeURIComponent(symbol) + '/20/'; 
                window.location.href = url;
            }
            
            jQuery(document).ready(function($) {
                $('.add-to-watchlist').click(function() {
                    var symbol = $(this).data('symbol');
                    $.ajax({
                        url: '{% url "fetch_sector_data" %}',
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {'symbol': symbol},
                        success: function(response) {
                            if (response.success) {
                                // Append the fetched data to the watchlist table
                                var tableRow = '<tr><td>' + response.data.date + '</td><td>' + response.data.symbol + '</td><td>' + response.data.closing_price + '</td></tr>';
                                $.ajax({
                                    url: '{% url "watchlist" %}',
                                    type: 'GET',
                                    success: function(data) {
                                        alert("Sector added successfully to watchlist");
                                        // Trigger email sending process
                                        sendWatchlistEmail();
                                    },
                                    error: function(xhr, status, error) {
                                        alert('Failed to Sector to watchlist. Please try again.');
                                    }
                                });
                            } else {
                                alert('Failed! Sector may already present in watchlist.');
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('An error occurred while processing your request. Please try again.');
                        }
                    });
                });
            });
        
            // Function to trigger email sending process
            function sendWatchlistEmail() {
                $.ajax({
                    url: '{% url "send_watchlist_email" %}',
                    type: 'GET',
                    success: function(data) {
                        alert("Email sent successfully.");
                    },
                    error: function(xhr, status, error) {
                        alert('Failed to send email. Please try again.');
                    }
                });
            }
        </script>
        
        
    {% endblock %}